---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<h2>Journal Articles</h2>
<ul class="publication-list">
{% assign paper_number = site.publications | size %}
{% for post in site.publications reversed %}
  {% if post.category == "manuscripts" %}
    {% include publication-list-item.html number=paper_number %}
  {% endif %}
  {% assign paper_number = paper_number | minus: 1 %}
{% endfor %}
</ul>

<h2>Conference Papers</h2>
<ul class="publication-list">
{% assign paper_number = site.publications | size %}
{% for post in site.publications reversed %}
  {% if post.category == "conferences" %}
    {% include publication-list-item.html number=paper_number %}
  {% endif %}
  {% assign paper_number = paper_number | minus: 1 %}
{% endfor %}
</ul>
